    @{
    ViewData["Title"] = "AddDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link active" asp-controller="Role" asp-action="Role_Insert">View</a>
                   
                    <a class="nav-item nav-link " asp-controller="Role" asp-action="GetAllRole">View</a>

                 
                </ul>
                <div class="indicatorslist">
                    <a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <div class="card-body">

                <div class="row">

                    <div class="form-group col-md-3">
                        <label class="control-label">RoleName</label>
                        <input id="RoleName" class="form-control" onchange="NamevalidationC('RoleName','lblErrorName')" />
                        <span id="lblErrorName" style="color:red"></span>

                    </div>
                </div>



            </div>


            <div class="form-group col-md-4">

                <input id="PatientID" class="form-control" hidden />
            </div>


            <div class="form-group row">
                <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                <div class="col-12 col-md-6 col-xl-4">
                    <button class="btn btn-primary mb-1" id="btnSubmit">Submit</button>
                    <button class="btn btn-danger mb-1" id="btnCancel">Reset</button>
                </div>
                <div class="form-group">

                    <input id="RoleId" class="form-control" hidden />
                </div>
            </div>
        </div>
        <div class="modal fade" id="SubmitModal" tabindex="1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Customer Details</h5>
                    </div>
                    <div class="modal-body">
                        <h6 class="modalMsg"></h6>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-info btn-sm submitConfirm hbtn" value="Yes" styk="display:none" />
                        <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SuccessModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="resultMsg" style="color:blue"></h5>
                    </div>
                    <div class="modal-body">
                        <h5 class="msgsuccess"></h5>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btnok" asp-controller="Role" asp-action="GetAllRole">Close</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="UnSuccessModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="resultMsg" style="color:blue"></h5>
                    </div>
                    <div class="modal-body">
                        <h5 class="msgunsuccess"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" @*aria-label="Close"*@>Close</button>

                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>


<script>
    $(document).ready(function () {
        //breadcumb
        loadNavigation('Add Role', 'gldata', 'plsubmission', 'Add Role', '', 'Add Role');
        var id = getUrlVars()["id"];
        if (id != undefined) {
            $("#btnSubmit").html("Update");
            $("#btnCancel").html("Cancel");

            Edit(id);
        }
    });
    function reset() {
        $('#RoleName').val("");
    }

   

    $("#btnCancel").click(function () {


        if ($("#RoleId").val() != '') {
            window.location.href = "/Role/GetAllRole";
        }
        else
            reset();

    })

    function validate() {
        if ($('#RoleName').val() == "") {
            $('.msgunsuccess').text('Please Enter Role!');
            $('#UnSuccessModal').modal('show');

            //alert("Please Enter Role!");
            $('#RoleName').focus();
            return false;
        }
       
        else {
            $("#btnCancel").hide();
            return true;
        }

    }

    $("#btnSubmit").click(function () {
        //var chkValidation = validate();
        if (validate() && NamevalidationC('RoleName', 'lblErrorName') == true) {
            $('.modalMsg').text('Are you sure to save the details ?');
            $('.submitConfirm').css('display', 'block');
            $('#SubmitModal').modal("show");


        }
    });


     $(".submitConfirm").click(function () {
      
        var doc = {
            RoleId: $("#RoleId").val(),
               RoleName: $("#RoleName").val(),

        };
        if (validate() && NamevalidationC('RoleName', 'lblErrorName') == true)
        {

            $.ajax({
                url: "/Role/Add",
                data: doc,
                type: "POST",
                success: function (result) {
                    if (result == "Record Saved Successfully") {
                        $('.modalMsg').text('');
                        $('#SubmitModal').modal("hide");
                        $('.msgsuccess').text('Data Saved successfully.');
                        $('#SuccessModal').modal('show');
                        reset()


                    }
                    else if ((result == "Record Updated Successfully")) {
                        $('.modalMsg').text('');
                        $('#SubmitModal').modal("hide");
                        $('.msgsuccess').text('Data Updated successfully.');
                        $('#SuccessModal').modal('show');
                        //window.location.href = "/Dignosis/ViewDignosis";
                    }
                    else {
                        alert(result);
                    }

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        }


    });
    //UPDATE
    function Edit(id) {

        $.ajax({
            url: "/Role/UserGetById?id=" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $("#RoleName").val(result.RoleName);
                $("#RoleId").val(result.RoleId);

                   },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //DELETE
   
</script>
