
@{
    ViewData["Title"] = "ViewDesignation";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
    var ResultData = ViewBag.Result as List<PathoLab.Domain.DesignationMaster.DesignationName>;

}
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link" asp-controller="Designation" asp-action="AddDesignation">Add</a>
                    <a class="nav-item nav-link active" asp-controller="Designation" asp-action="ViewDesignation">View</a>
                </ul>
            </div>

            <div class="card-body ">
                @if (ResultData != null && ResultData.ToList().Count > 0)
                {
                    <div class="table-responsive">
                        <a href="/Designation/ExportToExcelDesignation"><i class="fa fa-file-excel-o" style="font-size:24px"></i></a>
                        <table data-toggle="table" id="tblDesignation" class="table">
                            <thead>
                                <tr>
                                    <th width="60px" class="align-top text-center">Sl#</th>

                                    <th width="150px" class="align-top">
                                        Designation
                                    </th>
                                    <th width="150px" class="align-top">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var list in ResultData)
                                {
                                    <tr>
                                        <td class="text-center">@count</td>

                                        <td>
                                            @list.Designation
                                        </td>

                                        <td>
                                            <a onclick="updateDesignation('@list.DesignationId');" class="text-primary mr-3" title="" data-original-title="Edit"><i class="icon-edit1"></i><b>Edit</b></a><br />
                                            <a onclick="deleteDesignation('@list.DesignationId');" class="text-danger" title="" data-original-title="Delete"><i class="icon-trash-21"></i><b>Delete</b></a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
                <div class="clearfix col-sm-12"></div>
            </div>
            <!--===================================================-->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getDataTable();
    })

    //Update Designation
    function updateDesignation(DesignationId) {
        if (confirm("Are you sure you want to update ?")) {
            location.href = "/Designation/AddDesignation?DesignationId=" + DesignationId;
        }
    }
    //Delete Designation
    function deleteDesignation(DesignationId) {
        if (confirm("Are you sure you want to delete ?")) {
            $.ajax({
                url: "/Designation/DeleteDesignation?DesignationId=" + DesignationId,
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    if (data == "3") {
                        alert("Designation Deleted Successfully");
                        window.location.reload();
                    }
                    else if (data == "4") {
                        alert("Designation Already In Use!");
                        window.location.reload();
                    }
                    else { }
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    bootbox.alert("Error : " + jsonValue);
                }
            });
        }
    }
    //Pagination
    function getDataTable() {
        $('#tblDesignation').DataTable({
            "searching": true,
            //"bStateSave": true,
            "dom": 'Bfrtip',
            "autoWidth": false,
            "buttons": [
                ,
                {
                    extend: 'pageLength'
                }
            ],
            "lengthMenu": [
                [10, 25, 50, 100, 1000 - 1],
                ['10 rows', '25 rows', '50 rows', '100 rows', '1000 rows', 'Show all']
            ]
        });
    }
</script>


