@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <meta name="keywords" content="ADSYS" />
    <meta name="description" content="ADSYS" />
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/icons.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/dashboard.css" rel="stylesheet">
    <link href="~/css/slimscrollbar.min.css" rel="stylesheet">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/validation/validation.js"></script>
    <script src="~/Datatable/JS/jquery.dataTables.min.js"></script>
    <script src="~/Datatable/JS/dataTables.buttons.js"></script>
    <script src="~/Datatable/JS/buttons.print.js"></script>
    <link href="~/Datatable/CSS/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Datatable/CSS/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/js/chartist.min.js"></script>
    <script src="~/js/chartist-plugin-tooltip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.1/chartist-plugin-legend.min.js"></script>

    <style>
        .my-nav {
            max-height: 4200px;
        }
    </style>


</head>
<body>
    <header>
        <nav class="navbar">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="javascript:void:(0);">
                <h1>
                    Hospital Management System
                </h1>
            </a>
            <a class="nav-toggle-btn">
                <span></span>
            </a>

            <!-- Collapsible content -->
            <div class="navbar-collapse justify-content-end collapse" id="basicExampleNav">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link setting-link" href="Javascript:void(0);"><i class="icon-settings1"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout" href="Javascript:void(0);"><i class="icon-log-out1"></i></a>
                    </li>
                    <!-- Dropdown -->
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
    </header>
    <div class="logout-modal">
        <div class="logou-container text-center">
            <div class="container">
                <h3>Do you really want to log out?</h3>
                <a class="btn btn-mint" asp-controller="Account" asp-action="Login">Yes</a>
                <a class="btn btn-danger nologout">No</a>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="sidemenu" id="admindashboard">
            <div class="user-profile">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/images/user.png" alt="user"><span>@HttpContextAccessor.HttpContext.Session.GetString("UserName")<small>@HttpContextAccessor.HttpContext.Session.GetString("Designation")</small></span>
                </a>
            </div>
            <div class="clearfix">
            </div>
            <nav class="navbar">
                <div class="navbar-collapse justify-content-end" id="basicExampleNav" style="width: 260px;">
                    @*<ul class="navbar-nav my-nav" id="dynamicnav">*@
                    <ul class="navbar-nav " id="dynamicnav">
                    </ul>
                </div>
            </nav>
        </div>
        <div class="mainpanel">
            <div class="section">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p><small>Copyright 2021 PathoLab</small> </p>
    </footer>
    <div class="setting-box">
        <div class="profile-details">
            <a class="setting-close" href="javascript:void(0)"><span class="icon-x1"></span></a>
            <div class="photo__section">
                <img src="images/user.png" alt="user">
            </div>
            <div class="change__list">
                <ul>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Profile"><span class="icon-user1"></span></a></li>
                    <li><a class="change__list" asp-controller="Account" asp-action="ChangePassword" data-placement="top" data-original-title="Change Password"><span class="icon-lock1"></span></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sign out"><span class="icon-log-out1"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="theme-customizer">
            <h4>Menu option</h4>
            <ul class="menu-option-list">
                <li>
                    Top menu <label class="switch " id="menu-dark">
                        <input type="checkbox" id="topmenucheck" class="default">
                        <span class="slider"></span>
                    </label>
                </li>
                <li>
                    Dark <label class="switch " id="menu-dark">
                        <input type="checkbox" id="darkcheck" class="default">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
            <h4>Theme Colors</h4>
            <ul class="theme-list">
                <li><a href="javascript:void(0)" id="custom" class="theme-blue active"></a></li>
                <li><a href="javascript:void(0)" id="theme-sky" class="theme-sky-blue "></a></li>
                <li><a href="javascript:void(0)" id="theme-white" class="theme-white"></a></li>
                <li><a href="javascript:void(0)" id="theme-purple" class="theme-purple "></a></li>
                <li><a href="javascript:void(0)" id="theme-pink" class="theme-pink "></a></li>
                <li><a href="javascript:void(0)" id="theme-orange" class="theme-orange"></a></li>
                <li><a href="javascript:void(0)" id="theme-teal" class="theme-teal "></a></li>
                <li><a href="javascript:void(0)" id="theme-gray" class="theme-gray "></a></li>
            </ul>
        </div>
    </div>
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/slimscrollbar.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/dashboard.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        BindMenu('@HttpContextAccessor.HttpContext.Session.GetInt32("DesignationId")');
    })
    function BindMenu(id) {
        $.ajax({
            url: "/Permission/GetSelectedMenuByDesig?DesignationId=" + id,
            type: "GET",
            success: function (result) {
                Menu = JSON.parse(result.menuClasses);
                SubMenu = JSON.parse(result.subMenuClasses);
                var li = "";
                for (i = 0; i < Menu.length; i++) {
                    li = li + "<li class='nav-item dropdown glmaster'>";
                    li=li+"<a class='nav-link dropdown-toggle' id='navbarDropdownMenuLink' data-toggle='dropdown'"
                        + "aria-haspopup='true' aria-expanded='false'><i class='"+Menu[i].IconName+"'></i><span>"+Menu[i].MenuName+"</span></a>";
                    li=li+"<div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>";
                    for (j = 0; j < SubMenu.length; j++) {
                        if (Menu[i].MenuId == SubMenu[j].MenuId) {
                            li=li + "<a class='dropdown-item plsector' href='"+SubMenu[j].SubMenuURL+"'>"+SubMenu[j].SubMenuName+"</a>";
                        }
                    }
                    li = li + "</div>";
                    li = li + "</li>";
                }
                $("#dynamicnav").html(li);
            },
            error: function (error) {
                jsonValue = jQuery.parseJSON(error.responseText);
                alert("Error : " + jsonValue);
            }
        });
    }
</script>