
@{
    ViewData["Title"] = "ChangePassword";

    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Designation == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                @*<ul class="nav nav-tabs nav-fill" role="tablist">
                        <a class="nav-item nav-link active" asp-controller="LabTest" asp-action="AddLabTest">Add</a>
                        <a class="nav-item nav-link " asp-controller="LabTest" asp-action="ViewLabTest">View</a>
                    </ul>*@
                <div class="indicatorslist">
                    <a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            @*//  BASIC FORM ELEMENTS
                //  ===================================================*@

            <div class="card-body">
                <div class="form-group row">
                    <input type="hidden" value="0" id="hdnDignosisConfigId" />
                    <div class="col-xs-12 col-md-4 col-xl-4">
                        <label class="control-label">Current Password<span class="text-danger">*</span></label>
                        <input type="text" id="txtpwd" value="@ViewBag.pwd " class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-4 col-xl-4">
                        <label class="control-label" for="RegstrationNo">New Password<span class="text-danger">*</span></label>
                        <input id="txtNewpwd" class="form-control" />
                        <span id="lblErrorName" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-4 col-xl-4">
                        <label class="control-label" for="RegstrationNo">Confirm Password<span class="text-danger">*</span></label>
                        <input id="txtConfirmpwd" class="form-control" />
                        @*<span id="lblErrorName" style="color:red"></span>*@
                    </div>
                </div>
                @*<div class="form-group col-md-4">

                        <input id="hdnLabTestId" class="form-control" hidden />
                    </div>*@
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4 justify-content-center">
                        <button class="btn btn-primary mb-1" id="btnSubmit">Submit</button>
                        <button class="btn btn-danger mb-1" id="btnCancel">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#btnSubmit").click(function () {
    //        var newpwd = $("#txtNewpwd").val();
    //        var confpwd = $("#txtConfirmpwd").val();
    //        if (newpwd == confpwd && newpwd != "") {
    //            var doc = {
    //                Password: newpwd

    //            };
    //            debugger
    //            $.post("/Account/ChangePassword", doc, function (data) {
    //                data = JSON.parse(data);
    //                alert("change Password");
    //            });
    //        } else {
    //            alert("New Password does not match with Confirm Password!");
    //        }

    //    });


    //});
    $("#btnSubmit").click(function () {
        var newpwd = $("#txtNewpwd").val();
        var confpwd = $("#txtConfirmpwd").val();
        if (newpwd == confpwd && newpwd != "") {
            var doc = {
                Password: newpwd
            };
            if (confirm("Are you sure you want to Submit ?")) {
                $.ajax({
                    url: "/Account/ChangePassword",
                    data: doc,
                    type: "POST",
                    success: function (result) {
                        if (result == "Password Saved Successfully") {
                            alert(result)
                            location.href = "/Account/ChangePassword";
                        }
                        else
                            alert(result);
                        location.href = "/Account/ChangePassword";
                        reset();

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }

        }

    });

</script>
