
@{
    ViewData["Title"] = "AddDignosis";
    Layout = "~/Views/Shared/_LayoutDynamic.cshtml";
}
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link active" asp-controller="Dignosis" asp-action="AddDignosis">Add</a>
                    <a class="nav-item nav-link " asp-controller="Dignosis" asp-action="ViewDignosis">View</a>
                </ul>
                <div class="indicatorslist">
                    <a title="" href="javascript:void(0)" id="backIcon" data-toggle="tooltip" data-placement="top" data-original-title="Back"><i class="icon-arrow-left1"></i></a>
                    <p class="ml-2">(*) Indicates mandatory </p>
                </div>
            </div>
            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <div class="card-body">


                <!--Static-->

                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input">Catagory  <span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <select id="dnam" class="form-control" asp-items="@(new SelectList(ViewBag.Catagory,"DignosisCatagoryID","DignosisCategoryName"))">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="hidden" id="hdnDignosisID" />
                    <label class="col-12 col-md-2 col-xl-2 control-label" for="demo-email-input"> Name <span class="text-danger">*</span></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <input type="text" id="nam" class="form-control" onchange="Namevalidation('nam','lblErrorName')" />
                        <span id="lblErrorName" style="color:red"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-2 col-xl-2 control-label"></label>
                    <div class="col-12 col-md-6 col-xl-4">
                        <button class="btn btn-primary mb-1" id="btnSubmit">Submit</button>
                        <button class="btn btn-danger mb-1" id="btnReset">Reset</button>
                    </div>
                </div>


                <div class="modal fade" id="SubmitModal" tabindex="1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Customer Details</h5>
                            </div>
                            <div class="modal-body">
                                <h6 class="modalMsg"></h6>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-info btn-sm submitConfirm hbtn" value="Yes" styk="display:none" />
                                <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="SuccessModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="resultMsg" style="color:blue"></h5>
                            </div>
                            <div class="modal-body">
                                <h5 class="msgsuccess"></h5>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger btnok" asp-controller="Dignosis" asp-action="ViewDignosis">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="UnSuccessModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="resultMsg" style="color:blue"></h5>
                            </div>
                            <div class="modal-body">
                                <h5 class="msgunsuccess"></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" @*aria-label="Close"*@>Close</button>

                            </div>
                        </div>
                    </div>
                </div>

      
                <!--===================================================-->
                <!-- END BASIC FORM ELEMENTS -->
            </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //breadcumb
        loadNavigation('Add Dignosis', 'gldata', 'plsubmission', 'Add Dignosis', '', 'Add Dignosis');
        var DignosisID = getUrlVars()["DignosisID"];
        if (DignosisID != undefined) {
            $("#btnSubmit").html("Update");
            $("#btnReset").html("Cancel");
            Edit(DignosisID);
        }
    });
    function validate() {

        if ($('#dnam').val() == "0") {
            $('.msgunsuccess').text('Please Select Catagory Name!');
            $('#UnSuccessModal').modal('show');

          // alert("Please Select Catagory Name!");
            $('#dnam').focus();
            return false;
          
        }
        else if ($('#nam').val() == "") {
            $('.msgunsuccess').text('Please Enter Name !');
            $('#UnSuccessModal').modal('show');

           // alert("Please Enter Name !");
            $('#nam').focus();
            return false;
          
        }
      
        else {
           // $("#btnReset").hide();
            return true;
        }

    }
    $("#btnReset").click(function () {
        if ($("#hdnDignosisID").val() != '') {
            window.location.href = "/Dignosis/ViewDignosis";
        }
        else
            reset();
    });
    $("#btnSubmit").click(function () {
        //var chkValidation = validate();
        if (validate() == true && Namevalidation('nam', 'lblErrorName') == true) {


          
                $('.modalMsg').text('Are you sure to save the details ?');
                $('.submitConfirm').css('display', 'block');
                $('#SubmitModal').modal("show");
            
           
        }
    });
    $(".submitConfirm").click(function () {
      

            var dign = {
                DignosisID: $("#hdnDignosisID").val(),
                Name: $("#nam").val(),
                DignosisCatagoryID: $("#dnam").val(),
               
            };
      
              
                $.ajax({
                    url: "/Dignosis/AddDignosis",
                    data: dign,
                    type: "POST",
                    success: function (result) {
                        if (result == "Record Saved Successfully") {
                            $('.modalMsg').text('');
                            $('#SubmitModal').modal("hide");
                            $('.msgsuccess').text('Data Saved successfully.');
                            $('#SuccessModal').modal('show');
                            reset()
                           

                        }
                        else if ((result == "Record Updated Successfully")) {
                            $('.modalMsg').text('');
                            $('#SubmitModal').modal("hide");
                            $('.msgsuccess').text('Data Updated successfully.');
                            $('#SuccessModal').modal('show');
                            //window.location.href = "/Dignosis/ViewDignosis";
                        }

                        else {
                            $('.modalMsg').text('');
                            $('#SubmitModal').modal("hide");
                            $('.msgunsuccess').text('Data Already Exits');
                            $('#UnSuccessModal').modal('show');
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
           
       
    });
    //UPDATE
    function Edit(DignosisID) {


            $.ajax({
                url: "/Dignosis/DignosisGetById?DignosisID=" + DignosisID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#hdnDignosisID').val(result.DignosisID);
                    $("#nam").val(result.Name);
                    $("#dnam").val(result.DignosisCatagoryID);
                  
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
     
    }
    function reset() {
        $('#hdnDignosisID').val("");
        $("#nam").val("");
        $("#dnam").val("0");
    }

</script>

